@use './colors.scss' as color;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.container {
    padding: 0 100px;
}
nav {
    background-color: transparent;
    z-index: 2;
}

.encourage{
    color: white;
    height: 100%;
    z-index: -1;
    // width: 100%;
    
}
.encourage_container{
    height: 100%;
    border-bottom: 3px solid rgb(35, 35, 35);
} 
.encourage_background{
    height: 100%;
    position: relative;
            
}
.encourage_hero_background{
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
}
.encourage_items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 306px;
    // height: 100%;
}
.encourage_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.encourage_head  h1{
    font-size: 3rem;
}
.encourage_head  span{
    font-size: 1.5rem;
}
main{
    height: 100%;
    // border-top: 10px solid color.$bordercolor;
}
.main_border{
    width: 100%;
    border-top: 9px solid color.$bordercolor;
}

.main_item{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.main_item--right{
    flex-direction: row-reverse;
    
}
.main_item_text h1{
    font-size: 45px;
}
.main_item_text span{
    font-size: 20px;
}
.main_item--image .tv{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.main_item--videoLeft{
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    top: 20.8%;
    left: 13.65%;
}
.main_item--videoRight{
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 49%;
    max-height: 60%;
    top: 19%;
    left: 51%;
}
